<div class="container">
  <div class="filters">
    <!-- <a class="button" (click)="filter='Heads'">Heads</a>
    <a class="button" (click)="filter='Arms'">Arms</a>
    <a class="button" (click)="filter='Torsos'">Torsos</a>
    <a class="button" (click)="filter='Bases'">Bases</a>
    <a class="button" (click)="filter=''">All</a> -->

    <!-- <a routerLink="/catalog/Heads" class="button">Heads</a>
    <a routerLink="/catalog/Arms" class="button">Arms</a>
    <a routerLink="/catalog/Torsos" class="button">Torsos</a>
    <a routerLink="/catalog/Bases" class="button">Bases</a>
    <a [routerLink]="['/catalog','']" class="button">All</a> -->

    <a routerLink="/catalog" [queryParams]="{filter: 'Heads'}" routerLinkActive="active" class="button">Heads</a>
    <a routerLink="/catalog" [queryParams]="{filter: 'Arms'}" routerLinkActive="active" class="button">Arms</a>
    <a routerLink="/catalog" [queryParams]="{filter: 'Torsos'}" routerLinkActive="active" class="button">Torsos</a>
    <a routerLink="/catalog" [queryParams]="{filter: 'Bases'}" routerLinkActive="active" class="button">Bases</a>
    <a routerLink="/catalog" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="button">All</a>
  </div>

  <ul class="products">
    <li class="product-item" *ngFor="let currentProduct of getFilteredProducts()">
      <bot-product-details [productDetail]="currentProduct" (buy)="addToCart(currentProduct)"></bot-product-details>
    </li>
  </ul>
</div>
